*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fullscreen-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  min-height: 100vh;
  
  background-image: url('/src/assets/logistica2.jpg'); 
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  
  font-family: 'Segoe UI', sans-serif;
}


.login-card {
  position: relative;
  z-index: 2; 
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.login-card h2 {
  color: #1a73e8;
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline-color: #1a73e8;
}

.login-button {
  padding: 12px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background-color: #1557b0;
}